{{template "base/head" .}}
<div class="container">
	<div class="col-md-10 text-center">
	    <p style="margin-top: 80px"><img src="/img/500.png" alt="500"/></p>
	    <hr/>
	    <p>{{.i18n.Tr "status.app_ver"}} {{AppVer}}</p>
	    <p>{{.i18n.Tr "status.report"}} <a href="https://github.com/gpmgo/switch/issues/new">GitHub</a>.</p>
	</div>
	{{template "base/navbar" .}}
</div>
{{template "base/footer" .}}