{{template "base/head" .}}
<div class="container">
	<div class="col-md-10">
		<h2 class="ui dividing header">
			{{i18n .Lang "package.new_release"}}
			<div class="sub header">{{i18n .Lang "package.new_release_intro"}}</div>
		</h2>
		<form enctype="multipart/form-data" action="/{{.Package.Owner.UserName}}/{{.Package.Name}}/releases/new" method="post">
			{{.CsrfTokenHtml}}
			<div class="ui {{if .Flash.ErrorMsg}}error {{end}}form segment">
				{{template "base/alert" .}}
			  	<div class="{{if .Err_ReleaseName}}error{{end}} field">
			    	<label>
			    		{{i18n .Lang "package.release_name"}}
			    		<small>{{i18n .Lang "package.release_name_intro" | str2html}}</small>
			    	</label>
			    	<div class="ui left labeled icon input">
			      		<input name="release_name" type="text" placeholder="{{i18n .Lang "package.release_name"}}" value="{{.release_name}}" required>
			      		<i class="tag icon"></i>
			      		<div class="ui corner label">
			        		<i class="icon asterisk"></i>
			      		</div>
			    	</div>
			  	</div>

			  	<div class="{{if .Err_Upload}}error{{end}} field">
			    	<label>
			    		{{i18n .Lang "package.upload"}}
			    	</label>
			    	<div class="ui left labeled icon input">
			    		<input type="file" name="source" required>
			      		<i class="file icon"></i>
			      		<div class="ui corner label">
			        		<i class="icon asterisk"></i>
			      		</div>
			    	</div>
			  	</div>

			  	<div class="{{if .Err_GoVer}}error{{end}} field">
			  	  	<label>{{i18n .Lang "gover"}}</label>
			  	  	<div class="ui dropdown selection">
				  	    <input type="hidden" name="gover" value="{{.gover}}" required>
				  	    <div class="default text">{{i18n .Lang "package.select_gover"}}</div>
				  	    <i class="dropdown icon"></i>
				  	    <div class="menu">
				  	    	{{range .GoVersions}}
					  	     <div class="item" data-value="{{.}}">{{.}}</div>
					  	    {{end}}
				  	    </div>
			  	  	</div>
			  	</div>

			  	<button class="ui blue submit button" type="submit">{{i18n .Lang "package.create_package"}}</button>
			</div>
		</form>
	</div>
	{{template "base/navbar" .}}
</div>
{{template "base/footer" .}}