		<div class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<h5>{{i18n .Lang "follow_us"}}</h5>
						<div class="ui link list">
					 		<a class="item" target="_blank" href="http://weibo.com/obahua">新浪微博</a> 
					 		<a class="item" target="_blank" href="https://twitter.com/joe2010xtmf">Twitter</a> 
						</div>
					</div>
					<div class="col-md-3">
						<h5>{{i18n .Lang "friends"}}</h5>
						<div class="ui link list">
					 		<a class="item" target="_blank" href="http://golangtc.com">Golang 中国</a> 
					 		<a class="item" target="_blank" href="http://golanghome.com/">Go 友团</a> 
						</div>
					</div>
					<div class="col-md-3">
						<h5>{{i18n .Lang "sponsor"}}</h5>
						<div class="ui link list">
					 		<a class="item" target="_blank" href="http://qiniu.com">七牛云存储</a> 
						</div>
					</div>
					<div class="col-md-3">
						<h5>{{i18n .Lang "language_option"}}</h5>
						<div class="ui link list">
					 		<a class="item" href="{{.Link}}?lang=en-US">English</a> 
					 		<a class="item" href="{{.Link}}?lang=zh-CN">简体中文</a>
						</div>
					</div>
				</div>
				<br>	
				<div class="row">
					<p class="copyright">
						Copyright © 2014 Go Package Manager
					</p>
				</div>
			</div>
		</div>
	</body>
</html>