<div class="col-md-2">
	<div class="ui vertical menu">
	  <div class="item">
	    <span><b>{{i18n .Lang "navigation"}}</b></span>
	    <div class="menu">
	        <a class="item{{if .PageIsHome}} active{{end}}" href="/">{{i18n .Lang "home"}}</a>
	        <a class="item" target="_blank" href="http://obahua.com">{{i18n .Lang "blog"}}</a>
	        <a class="item" href="https://github.com/gpmgo/switch">GitHub</a>
	    </div>
	  </div>
	  <div class="item">
	    <span><b>{{i18n .Lang "quick_links"}} </b></span>
	    <div class="menu">
	        <a class="item" href="https://github.com/gpmgo/gopm">{{i18n .Lang "cmd_tool"}}</a>
	    </div>
	  </div>
	</div>
</div>