{% extends "base/base.html" %}
{% block brand %}
<div class="segment">
	<div class="container">
    	<div class="col-md-9 brand">
      		<h1 class="ui header">
      			<a href="/">{{Tr(Lang, "app_title")}}</a>
			</h1>
			<h4>{{Tr(Lang, "app_site_desc")}}</h4>
		</div>
		<div class="col-md-3" id="download-btn-section">
			<a class="ui green large labeled icon button" href="/download">
				<i class="awesome download cloud icon"></i>
				{{Tr(Lang, "home.download")}}
			</a>
		</div>
  	</div>
</div>
{% endblock %}
{% block body %}
<h2 class="ui dividing header">
	{{Tr(Lang, "home.statistic")}}
	<div class="sub header">{{Tr(Lang, "home.statistic_intro")}}</div>
</h2>
<div class="row">
	<div class="col-md-4">
		<h3 class="ui header">
		  	<i class="archive icon"></i>
		  	{{Tr(Lang, "home.packages")}}
		</h3>
		<div>
			<h1 class="number">{{Stats.NumPackages}}</h1>
			<p class="stat">{{Tr(Lang, "home.package_num_unit")}}</p>
		</div>
	</div>
	<div class="col-md-4">
		<h3 class="ui header">
		  	<i class="user icon"></i>
		  	{{Tr(Lang, "home.users")}}
		</h3>
		<div>
			<h1 class="number">{{Stats.NumDownloaders}}</h1> 
			<p class="stat">{{Tr(Lang, "home.user_num_unit")}}</p>
		</div>
	</div>
	<div class="col-md-4">
		<h3 class="ui header">
		  	<i class="browser icon"></i>
		  	{{Tr(Lang, "home.activity")}}
		</h3>
		<div>
			<h1 class="number">{{Stats.DownloadStats.NumTotalDownload}}</h1>
			<p class="stat">{{Tr(Lang, "home.active_install_unit")}}</p>
		</div>
	</div>
</div>

<h2 class="ui dividing header">
	{{Tr(Lang, "home.ranking")}}
	<div class="sub header">{{Tr(Lang, "home.ranking_intro")}}</div>
</h2>
<div class="row">
	{% macro pkg_list(icon, name, pkgs)%}
	<div class="col-md-4">
		<h3 class="ui header">
			<i class="{{icon}} icon"></i>
		  	{{name}}
		</h3>
		<div class="ui link list">
			{% for p in pkgs%}
		  	<div class="item">
			    <div class="content popup" data-content="{{p.ImportPath}}">
			      	<div class="header">
			      		<span class="ui green label">{{p.RecentDownload}}</span>
			      		<a href="/{{p.ImportPath}}">{{SubStr(p.ImportPath, 0, 30)}}</a>
			      	</div>
			    </div>
		    </div>
			{% endfor %}
		</div>
		{% comment %}
		<a href="/browse/trending">{{Tr(Lang, "home.more")}}...<i class="external url icon"></i></a>
		<a href="/browse/new">{{Tr(Lang, "home.more")}}...<i class="external url icon"></i></a>
		<a href="/browse/popular">{{Tr(Lang, "home.more")}}...<i class="external url icon"></i></a>
		{% endcomment %}
	</div>
	{% endmacro %}
	{{pkg_list("rocket", Tr(Lang, "home.trending"), Stats.TrendingPackages)}}
	{{pkg_list("sun", Tr(Lang, "home.new"), Stats.NewPackages)}}
	{{pkg_list("flag", Tr(Lang, "home.popular"), Stats.PopularPackages)}}
</div>
{% endblock %}