{% extends "../base/base.html" %}
{% block body %}
<h3 class="ui dividing header">
  Block New Package
</h3>
<form method="post">
  <div class="ui {% if Flash.ErrorMsg %}error {% endif %}form">
    {% include "../base/alert.html" %}
    <div class="field">
      <label>
       Import Path
      </label>
      <div class="ui icon input">
        <input name="import_path" required>
      </div>
    </div>
    <div class="field">
      <label>
        Note
      </label>
      <div class="ui icon input">
        <input name="note" required>
      </div>
    </div>
    <button class="ui blue submit button" type="submit">Submit</button>
  </div>
</form>
{% endblock %}