<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="shortcut icon" href="/img/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<meta name="_csrf" content="{{CsrfToken}}" />

		 <!-- Stylesheets -->
		<link rel="stylesheet" href="/css/semantic.min.css?v={{AppVer}}" />
		<link rel="stylesheet" href="/css/switch.min.css?v={{AppVer}}" />

		<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="/js/semantic.min.js?v={{AppVer}}"></script>
		<script type="text/javascript" src="/js/switch.js?v={{AppVer}}"></script>

		<title>{% if Title %}{{Title}} - {% endif %}{{Tr(Lang, "app_title")}}</title>
	</head>
	<body>
		<div class="ui padded grid">
				{% if !PageIsAuth and !IsStatusPage %}
				<div class="row">
					<div class="ui fixed menu">
						<div class="menu">
						  	<a class="item {% if PageIsDashboard %}active{% endif %}" href="/admin">
						    	<i class="dashboard icon"></i> Dashboard
						  	</a>
						  	<div class="right menu">
							  	<a class="item" href="/">
							    	<i class="mail forward icon"></i> Back To Site
							  	</a>
							</div>
					  </div>
					</div>
				</div>
				{% endif %}
				<div class="row body">
					{% if !PageIsAuth and !IsStatusPage %}
					<div class="three wide column">
						<div class="ui vertical menu">
						  	<a class="item {% if PageIsDashboard %}active{% endif %}" href="/admin">
						    Dashboard
						  	</a>
						  	<a class="item {% if PageIsPackages %}active{% endif %}" href="/admin/packages">
						    Packages
						  	</a>
						  	<a class="item {% if PageIsBlocks %}active{% endif %}" href="/admin/blocks">
						    Blocks
						  	</a>
						</div>
					</div>
					{% endif %}
					<div class="{% if !IsStatusPage and !PageIsAuth %}thirteen{% else %}sixteen{% endif %} wide column">
						{% if !IsStatusPage %}
						{% if PageIsBlocks %}
						<div class="ui secondary pointing menu">
						  	<a class="item {% if PageIsBlocksList %}active{% endif %}" href="/admin/blocks">Blocks</a>
						  	<a class="item {% if PageIsBlocksRules %}active{% endif %}" href="/admin/blocks/rules">Rules</a>
						</div>
						{% elif PageIsPackages %}
						<div class="ui secondary pointing menu">
						  	<a class="item {% if PageIsPackagesList %}active{% endif %}" href="/admin/packages">Revisions</a>
						  	<a class="item {% if PageIsPackagesLarges %}active{% endif %}" href="/admin/packages/larges">Larges</a>
						</div>
						{% endif %}
						{% endif %}

						{% block body %}{% endblock %}
					</div>

					<div class="footer">
						<div class="sixteen wide aligned centered column status page">
							<p class="copyright">
								Copyright © 2015 Go Package Manager
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>