{{template "base/head" .}}
<div class="container">
	<div class="col-md-10">
		<h2 class="ui dividing header">
			{{.i18n.Tr "download.download"}}
			<div class="sub header">{{.i18n.Tr "download.download_helper"}}</div>
		</h2>
		<form action="/download">
			<div class="ui {{if .Flash.ErrorMsg}}error {{end}}form segment">
				{{template "base/alert" .}}
			  	<div class="{{if .Err_PkgName}}error{{end}} field">
			    	<label>
			    		{{.i18n.Tr "download.import_path"}}
			    	</label>
			    	<div class="ui left labeled icon input">
			      		<input name="pkgname" placeholder="{{.i18n.Tr "download.import_path_helper"}}" value="{{.pkgname}}" required>
			      		<i class="code icon"></i>
			      		<div class="ui corner label">
			        		<i class="icon asterisk"></i>
			      		</div>
			    	</div>
			  	</div>
			  	<div class="{{if .Err_Revision}}error{{end}} field">
			    	<label>
			    		{{.i18n.Tr "download.revision"}}
			    	</label>
			    	<div class="ui left labeled icon input">
			      		<input name="revision" placeholder="{{.i18n.Tr "download.revision_helper"}}" value="{{.revision}}">
			      		<i class="tag icon"></i>
			    	</div>
			  	</div>
			  	<button class="ui blue submit button" type="submit">{{.i18n.Tr "download.download_now"}}</button>
			</div>
		</form>
	</div>
	{{template "base/navbar" .}}
</div>
{{template "base/footer" .}}

