{{template "base/head" .}}
<div class="container">
	<div class="col-md-10">
		<h2 class="ui dividing header">
			{{i18n .Lang "home.statistic"}}
			<div class="sub header">{{.i18n.Tr "home.statistic_intro"}}</div>
		</h2>
		<div class="row">
			<div class="col-md-4">
				<h3 class="ui header">
				  	<i class="archive icon"></i>
				  	{{i18n .Lang "home.packages"}}
				</h3>
				<div>
					<h1 class="number">{{.Stats.NumPackages}}</h1>
					<p class="stat">{{i18n .Lang "home.package_num_unit"}}</p>
				</div>
			</div>
			<div class="col-md-4">
				<h3 class="ui header">
				  	<i class="user icon"></i>
				  	{{i18n .Lang "home.users"}}
				</h3>
				<div>
					<h1 class="number">{{.Stats.NumDownloaders}}</h1> 
					<p class="stat">{{i18n .Lang "home.user_num_unit"}}</p>
				</div>
			</div>
			<div class="col-md-4">
				<h3 class="ui header">
				  	<i class="browser icon"></i>
				  	{{i18n .Lang "home.activity"}}
				</h3>
				<div>
					<h1 class="number">{{.Stats.DownloadStats.NumTotalDownload}}</h1>
					<p class="stat">{{.i18n.Tr "home.active_install_unit"}}</p>
				</div>
			</div>
		</div>

		<h2 class="ui dividing header">
			{{i18n .Lang "home.ranking"}}
			<div class="sub header">{{i18n .Lang "home.ranking_intro"}}</div>
		</h2>
		<div class="row">
			<div class="col-md-4">
				<h3 class="ui header">
					<i class="rocket icon"></i>
				  	{{i18n .Lang "home.trending"}}
				</h3>
				<div class="ui link list">
					{{range .Stats.TrendingPackages}}
				  	<div class="item">
					    <div class="content popup" title="{{.Description}}">
					      	<div class="header">
					      		<span class="ui green label">{{.DownloadCount}}</span>
					      		<a href="https://{{.ImportPath}}">{{SubStr .ImportPath 0 28}}</a>
					      	</div>
					      	{{SubStr .Description 0 30}}
					    </div>
				    </div>
					{{end}}
				</div>
				<!-- <a href="/browse/trending">{{i18n .Lang "home.more"}}...<i class="external url icon"></i></a> -->
			</div>
			<div class="col-md-4">
				<h3 class="ui header">
				  	<i class="sun icon"></i>
				  	{{i18n .Lang "home.new"}}
				</h3>
				<div class="ui link list">
					{{range .Stats.NewPackages}}
				  	<div class="item">
					    <div class="content popup" title="{{.Description}}">
					      	<div class="header">
					      		<span class="ui green label">{{.DownloadCount}}</span>
					      		<a href="https://{{.ImportPath}}">{{SubStr .ImportPath 0 28}}</a>
					      	</div>
					      	{{SubStr .Description 0 30}}
					    </div>
				    </div>
					{{end}}
				</div>
				<!-- <a href="/browse/new">{{i18n .Lang "home.more"}}...<i class="external url icon"></i></a> -->
			</div>
			<div class="col-md-4">
				<h3 class="ui header">
				  	<i class="flag icon"></i>
				  	{{i18n .Lang "home.popular"}}
				</h3>
				<div class="ui link list">
					{{range .Stats.PopularPackages}}
				  	<div class="item">
					    <div class="content popup" title="{{.Description}}">
					      	<div class="header">
					      		<span class="ui green label">{{.DownloadCount}}</span>
					      		<a href="https://{{.ImportPath}}">{{SubStr .ImportPath 0 28}}</a>
					      	</div>
					      	{{SubStr .Description 0 30}}
					    </div>
				    </div>
					{{end}}
				</div>
				<!-- <a href="/browse/popular">{{i18n .Lang "home.more"}}...<i class="external url icon"></i></a> -->
			</div>
		</div>
	</div>
	{{template "base/navbar" .}}
</div>
{{template "base/footer" .}}

