{{template "base/head" .}}
<div class="container">
	<div class="col-md-10">
		<h2 class="ui dividing header">
			{{i18n .Lang "search"}}
			<div class="sub header">{{i18n .Lang "search_intro"}}</div>
		</h2>
		{{if .ResultPackages}}
		<div class="ui link list">
			{{range .ResultPackages}}
		  	<div class="item">
			    <a href="/u/{{.Owner.UserName}}"><img class="ui avatar image" src="{{.Owner.AvatarLink}}"></a>
			    <div class="content">
			      	<div class="header">
			      		<a href="/{{.Owner.UserName}}/{{.Name}}">{{.Name}}</a>
	      				<div class="ui label">
	      		    	  	INSTALL
	      		    	  	<div class="detail">{{.DownloadCount}}</div>
	      		    	</div>
			      	</div>
			      	{{.Description}}
			    </div>
		    </div>
			{{end}}
		</div>
		{{else}}
		<p>{{i18n .Lang "search_not_found"}}</p>
		{{end}}
	</div>
	{{template "base/navbar" .}}
</div>
{{template "base/footer" .}}

